
.form-date{
    color: #fff;
    font-size: 20px;
    
}
.input-box-task{
    width: 250px;
    height: 25px;

    margin-top: 3PX;
    border-radius: 3px;
    
    color: black;
    margin-right: 15px;

}
.input-box-date{
    width: 90px;
    height: 25px;
    
    margin-top: 3px;
    border-radius: 3px;
    margin-right: 15px;
    
    color: black;

}
.ADD{
    height: 25px;
    
}



